<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.healthrecord.mapper.RecordTypeMapper">
  <resultMap id="BaseResultMap" type="com.example.healthrecord.entity.RecordType">
    <id column="r_t_id" jdbcType="VARCHAR" property="rTId" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
  </resultMap>
  <sql id="Base_Column_List">
    r_t_id, `desc`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from record_type
    where r_t_id = #{rTId,jdbcType=VARCHAR}
  </select>
    <select id="searchAll" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from record_type
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from record_type
    where r_t_id = #{rTId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.healthrecord.entity.RecordType">
    insert into record_type (r_t_id, `desc`)
    values (#{rTId,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.healthrecord.entity.RecordType">
    insert into record_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rTId != null">
        r_t_id,
      </if>
      <if test="desc != null">
        `desc`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rTId != null">
        #{rTId,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.healthrecord.entity.RecordType">
    update record_type
    <set>
      <if test="desc != null">
        `desc` = #{desc,jdbcType=VARCHAR},
      </if>
    </set>
    where r_t_id = #{rTId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.healthrecord.entity.RecordType">
    update record_type
    set `desc` = #{desc,jdbcType=VARCHAR}
    where r_t_id = #{rTId,jdbcType=VARCHAR}
  </update>
</mapper>