<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>健康档案管理系统登录</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/xadmin.css">
    <script type="text/javascript" src="lib/jquery/jquery.js"></script>
    <script src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
    <script src="js/login.js"></script>


</head>
<body class="login-bg" style="background: url('images/clouds.jpg') no-repeat center">

<div class="login layui-anim layui-anim-up">
    <div class="message">健康档案管理系统--登录</div>
    <div id="darkbannerwrap"></div>

    <form method="post" class="layui-form layui-form-pane">
            <div class="layui-input-block" style="margin-left: 60px">
                <input type="radio" name="role" value="1" title="管理员">
                <input type="radio" name="role" value="2" title="医疗人员">
            </div>
            <input id="username" placeholder="用户名" type="text" lay-verify="required" class="layui-input" >
            <hr class="hr15">
            <input id="password" lay-verify="required" placeholder="密码" type="password" class="layui-input">
            <hr class="hr15">
        <div style="width: 340px; margin: 0;">
            <button id="login" type="button"  class="layui-btn " style="background-color: dimgray;width: 340px">提交</button>
        </div>

            <hr class="hr20">

    </form>
</div>

<!-- 底部结束 -->

</body>
</html>