
#table_wrap > table {
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px #000;
    margin-top: 10px;
}

table thead tr, table tbody tr {
    height: 50px;
    line-height: 50px;
    /*background-color: pink;*/
}

table thead td, table tbody td {
    border-right: 2px solid #eaeaea;
}

table tr th:first-child, table tr td:first-child { /*设置table左边边框*/
    border-left: 2px solid #eaeaea;
}

table tr th:last-child, table tr td:last-child { /*设置table右边边框*/
    border-right: 2px solid #eaeaea;
}

table tr td:first-child,
table tr td:nth-child(2),
table tr td:nth-child(3),
table tr td:last-child { /*设置table表格每列底部边框*/
    border-bottom: 2px solid #eaeaea;
}
table tr th {
    background: #eaeaea;
}

table tr:first-child th:first-child {
    border-top-left-radius: 12px;
}

table tr:first-child th:last-child {
    border-top-right-radius: 12px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}

.css-own{
    color: firebrick;
    font-weight: bold;
}
.layui-btn-own{
    background-color:firebrick
}
